@import "../../../styles/global.scss";

.inputWrapper input {
  padding: 10px 30px;
  margin: 10px 0 10px 0;
  font-size: 18px;
  width: 230px;
  border-radius: 7px;
  border: 1px solid $ultra_light_gray-color;

  &:focus {
    border-color: $blue-color;
    outline: none;
  }
}

.inputWrapper input[category="priceProperty"],
.inputWrapper input[category="initialFee"] {
  width: 500px;
}
